body {
	margin: 0;
  	font-family: Arial, Helvetica, sans-serif;
  	background-color: #f0f0ff;
  	background-image: url('../images/bg2.png'); 
  	background-attachment: fixed;
  	background-position: center; 
  	background-repeat: no-repeat; 
  	background-size: cover;
}

div.content {
	padding-bottom:1000px;
}

nav, nav.navbar {
 	overflow: hidden;
	position: fixed; /* Set the navbar to fixed position */
  	top: 1; /* Position the navbar at the top of the page */
  	width: 100%; /* Full width */
}

.navbar-header, nav, .navbar {
  color: black;
}

.navbar {
	background-color: #0a223c;
	/*background-color: #daecff;*/
}

span.title_nav_p {
	font-size: 5px;
	color: white;
	top: -10px;
}

.nav_title_a {
	margin-top: -5px;

}

.title_brand_nav, .nav {
	font: Helvetica;
	color: #f5c412;

	/*font-size: 10px;*/
	/*color: #0b4d8f;*/
}

.title_brand {
	font: Helvetica;
	color: #f5c412;
	font-size: 18px;
}

li.title_brand a.title_brand:hover {
	font: Helvetica;
	color: #89c2ff;
	font-size: 18px;
}

li.title_brand a.title_brand {
	font: Helvetica;
	color: #daecff;
	font-size: 18px;
}

.center-content {
	background-color: white;
}

.author_name {
	color: #00017A;
}

.dev_team {
	line-height: 50px;
	height: 50px; 
	display: flex; 
	align-items: center;
}

.dev_team span {
	font-size: 10px;
	line-height: 1.2; 
	display: inline-block; 
	vertical-align: middle;
}

.body_middle {
	background: rgba(255, 255, 255, 0.7)
}