html {
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
		margin: 0;
  	font-family: Arial, Helvetica, sans-serif;
  	background-color: #f0f0ff;
  	background-image: url('../images/bg2.png'); 
  	background-attachment: fixed;
  	background-position: center; 
  	background-repeat: no-repeat; 
  	background-size: cover;
  	width: 100%;
}

.content {
  /*padding: 20px;*/
  /*overflow-y: scroll;*/
}


.center-content {
	background-color: white;
}

.author_name {
	color: #00017A;
}

.dev_team {
	line-height: 50px;
	height: 50px; 
	display: flex; 
	align-items: center;
}

.dev_team span {
	font-size: 10px;
	line-height: 1.2; 
	display: inline-block; 
	vertical-align: middle;
}

.body_middle {
	background: rgba(255, 255, 255, 0.7)
}

textarea {
	max-width: 100%;
	box-sizing: border-box;
}

input[name~="year"] {
	width: 10px;
}


